.wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.shimmer_card{
    height: 20rem;
    width: 13rem;
    background-color: rgb(220, 218, 218);
    margin: 1rem;
    justify-content: center;
    text-align: center;

}

  