/* Header */
:root {
  --header-bg-color: rgb(1, 163, 144);
  --footer-bg-color: rgb(1, 163, 144);
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-red: rgb(236, 56, 56);
}
.header {
  margin: 0;
  padding:0;
  color: rgb(239, 227, 227);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: var(--header-bg-color);
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
}

.ul {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
.ul li {
  margin-left: 1rem;
}
.left {
  margin: 1rem;
}
.right {
  margin: 1rem;
}
.btn {
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--orange);
}
