:root {
    --header-bg-color: rgb(1, 163, 144);
    --footer-bg-color: rgb(1, 163, 144);
    --text-color: #000;
    --light-green: #00ad1d;
    --dark-green: #016034;
    --orange: #d97919;
    --light-red: rgb(236, 56, 56);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .container-body {
    flex-direction: column;
  }
}