/* CSS for the search bar */
:root {
  --header-bg-color: rgb(1, 163, 144);
  --footer-bg-color: rgb(1, 163, 144);
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-red: rgb(236, 56, 56);
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    width: 500px; /* Adjust the width as needed */
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    margin-left: 31.8rem;
  }
  
  .search-input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }
  
  .search-button {
    background-color: var(--orange); /* Adjust the button background color */
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the search icon */
  .search-button i {
    font-size: 20px; /* Adjust the icon size as needed */
  }
  